header{
background-color: rgba(202, 210, 218, 0.637);
position: relative;
}
main{
background-color: rgba(0, 0, 0, 0.432);
size-adjust: 100px;
margin: 0%;
display: flexbox;
}
footer{
    background-color: rgba(202, 210, 218, 0.637);
    position: relative;
}
main p{
    font-family: 'Segoe UI';
    color: ghostwhite;
    text-align: center;
    size: 60px;
}
header h2{
text-align: right;
display: inline-block;
font-family: 'Segoe UI';
}
header {
    background-color: #0a0a0a; 
    color: #a80404; 
    padding: 20px; 
    display: flex; 
    justify-content:center; 
    align-items: center; 
    }
    

header nav ul li {
    font-family: 'Segoe UI';
}

video {
    position: fixed;
    left: 0;
    top: 0;
    height:120%;
    z-index: -1;
  }

  .Titulo {
    font-size: 24px; 
    margin: 0; 
    }
    