header{
background-color: rgba(202, 210, 218, 0.637);
position: relative;
}
main{
background-color: rgba(0, 0, 0, 0.432);
}
footer{
    background-color: rgba(202, 210, 218, 0.637);
    position: relative;
}
main p{
    font-family: 'Segoe UI';
    color: ghostwhite;
}
header h1{
text-align: right;
display: inline-block;
font-family: 'Segoe UI';
}
