header{
background-color: rgba(202, 210, 218, 0.637);
position: relative;
}
main{
background-color: rgba(0, 0, 0, 0.432);
}
footer{
    background-color: rgba(202, 210, 218, 0.637);
    position: relative;
}
main p{
    font-family: 'Segoe UI';
    color: ghostwhite;
}
header {
    background-color: #0a0a0a; 
    color: #a80404; 
    padding: 20px; 
    display: flex; 
    justify-content:center; 
    align-items: center; 
    }
    

video {
    position: fixed;
    left: 0;
    top: 0;
    height:120%;
    z-index: -1;
  }

  .Titulo {
    font-size: 24px; 
    margin: 0; 
    }
    